:root {
  --blue: #284ea2;
  --green: #94c83d;
  --white: #ffffff;
  --gray: #666666;
  --gray-p:#666666;
  --white80 : rgba(255,255,255,0.8);
  --white50 : rgba(255,255,255,0.5);
  --white30 : rgba(255,255,255,0.3);
  --gray-light: #dedede;
  --gray-dark : #20262b;
  --gray-extra-dark : #1a1f24;
  --gray-10:#969696;

  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;

  --gray-20:#414141;
  --black-70:#333333;
  --black:#000000;

  --font-size : 62.5%;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-montserrat: 'Montserrat', sans-serif;
}

::selection {background: var(--blue); color: var(--white); text-shadow: none;}
::-moz-selection {background: var(--blue); color: var(--white); text-shadow: none;}
html{ margin: 0px; padding: 0px; font-size:var(--font-size);}
*, *:before, *:after{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;-ms-box-sizing:border-box;}
body{font-family: var(--font-family-montserrat); font-size: 1.6rem; line-height:normal; color:var(--gray); font-weight:500; background:var(--white);overflow-x:hidden;}
img{ vertical-align: top;}
a{color:var(--blue); outline:none; cursor: pointer; border:0px; text-decoration:none; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; box-shadow: none;}
a:active, a:hover, a:focus, a:visited{ text-decoration:none; outline:none; border:0px; box-shadow: none; color: var(--blue);}
a:focus{ text-decoration: none;}
input, button, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, textarea{ font-family: var(--font-family-montserrat); outline:none;}
h1, h2, h3, h4, h5, h6{font-family: var(--font-family-montserrat); margin:0px; padding:0px; line-height: normal; text-transform: initial; letter-spacing:0px; font-weight: 100;}
ul, li, ol{ margin:0px; padding:0px; list-style:none; font-size:1.5rem; line-height: 2.2rem; font-weight: 500;}
figure{ margin: 0px;}

h1{font-size:4.5rem; font-weight: 500; position: relative; padding-bottom:0.3em; margin-bottom:0em; line-height:normal; margin:0;}

h2{font-size:3.6rem;line-height:normal; color: var(--green); position: relative; padding-bottom: 30px; margin-bottom: 20px; font-weight: 700;}

h3, h3.vc_custom_heading{ font-size:3rem; font-weight:800; color:var(--blue); text-transform: uppercase; margin-bottom: 1rem;}

h4, h4.vc_custom_heading{font-size:2.6rem; font-weight: 500; line-height:normal; color:var(--black); position: relative; display: inline-block; text-transform: uppercase; padding: 0px 2.5rem;}
h4::before, h4::after, h4.vc_custom_heading::before, h4.vc_custom_heading::after{ width: 1rem; height: .6rem; background-color: var(--green); position: absolute; display: inline-block; content: ""; top: 50%; transform: translateY(-50%);}
h4::before, h4.vc_custom_heading::before{ left: 0rem;}
h4::after, h4.vc_custom_heading::after{ right: 0rem;}

h5{ font-size: 1.8rem; line-height: normal; margin-bottom:2rem; color: var(--blue); font-weight: 700;}

h6{ font-size: 1.6rem; color: var(--white80); font-weight:500; margin-bottom: 20px;}
p{ color:var(--gray-p); margin: 0px 0px 10px 0px; padding: 0px; font-family: var(--font-family-montserrat); font-size:1.5rem; line-height: 2.2rem;}
p:last-child{ margin-bottom:0px;}
p strong{color:#000000; font-size: 14px; text-transform: uppercase;}
hr { background-color: #3a3a3b; margin-bottom: 1.125em;}

.tra10 {-webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);}
.tra12 {-webkit-transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000); transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);}
.tra15 {-webkit-transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);}
.tra20 {-webkit-transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);}
.tra25 { -webkit-transition: all 2500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); transition: all 2500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);}
.delay01 {-webkit-transition-delay: 0.1s; transition-delay: 0.1s;}
.delay02 {-webkit-transition-delay: 0.2s; transition-delay: 0.2s;}
.delay03 {-webkit-transition-delay: 0.3s; transition-delay: 0.3s;}
.delay04 {-webkit-transition-delay: 0.4s;transition-delay: 0.4s;}
.delay05 {-webkit-transition-delay: 0.5s;transition-delay: 0.5s;}
.animation {-webkit-transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); -webkit-transform: translate3d(0,100px,0) scale(0.95); transform: translate3d(0,100px,0) scale(0.95); opacity: 0;}
.animation.in-view{-webkit-transform:translate3d(0,0,0) scale(1); transform:translate3d(0,0,0) scale(1); opacity:1;}

.widget ul li, .widget ol li{border-bottom:0px; border-top:0px; padding:0px;}

.aleft {text-align: left;}
.acenter {text-align: center;}
.aright {text-align: right;}
.fleft {float: left;}
.fright {float: right;}

.bgfixed{background-attachment:fixed;}

.site{ max-width: 100%; margin: 0px auto; position: relative;}

.container{width:100%; max-width: 1360px; margin: 0px auto !important; padding: 0px 15px;}
.vc_row .container{max-width: 1360px; display: flex; flex-wrap: wrap;}
.vc_row .container .container{ padding: 0px; max-width: 100%;}
/* .vc_column-inner{ padding:80px 0px 45px 0px;}
.vc_column-inner .vc_column-inner{ padding:0px 0px 0px 0px;} */
.wpb_text_column.center{text-align: center;}
/* .site-main article + .navigation{ display: none;} */

.row {margin-left: -15px; margin-right: -15px; }
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; }

.col-lg-12 {width: 100%; }
.col-lg-11 {width: 91.66666666666666%; }
.col-lg-10 {width: 83.33333333333334%; }
.col-lg-9 { width: 75%; }
.col-lg-8 {width: 66.66666666666666%; }
.col-lg-7 {width: 58.333333333333336%; }
.col-lg-6 {width: 50%; }
.col-lg-5 {width: 41.66666666666667%; }
.col-lg-4 {width: 33.33333333333333%; }
.col-lg-3 {width: 25%; }
.col-lg-2 {width: 16.666666666666664%; }
.col-lg-1 {width: 8.333333333333332%; }

.entry-content a, .entry-summary a, .comment-content a, .widget a, .site-footer .widget-area a, .posts-navigation a, .widget_authors a strong{ box-shadow: none;}
.entry-content a:focus, .entry-content a:hover, .entry-summary a:focus, .entry-summary a:hover, .comment-content a:focus, .comment-content a:hover, .widget a:focus, .widget a:hover, .site-footer .widget-area a:focus, .site-footer .widget-area a:hover, .posts-navigation a:focus, .posts-navigation a:hover, .comment-metadata a:focus, .comment-metadata a:hover, .comment-metadata a.comment-edit-link:focus, .comment-metadata a.comment-edit-link:hover, .comment-reply-link:focus, .comment-reply-link:hover, .widget_authors a:focus strong, .widget_authors a:hover strong, .entry-title a:focus, .entry-title a:hover, .entry-meta a:focus, .entry-meta a:hover, .page-links a:focus .page-number, .page-links a:hover .page-number, .entry-footer a:focus, .entry-footer a:hover, .entry-footer .cat-links a:focus, .entry-footer .cat-links a:hover, .entry-footer .tags-links a:focus, .entry-footer .tags-links a:hover, .post-navigation a:focus, .post-navigation a:hover, .pagination a:not(.prev):not(.next):focus, .pagination a:not(.prev):not(.next):hover, .comments-pagination a:not(.prev):not(.next):focus, .comments-pagination a:not(.prev):not(.next):hover, .logged-in-as a:focus, .logged-in-as a:hover, a:focus .nav-title, a:hover .nav-title, .edit-link a:focus, .edit-link a:hover, .site-info a:focus, .site-info a:hover, .widget .widget-title a:focus, .widget .widget-title a:hover, .widget ul li a:focus, .widget ul li a:hover {box-shadow:0px 0px; color: inherit;}
.entry-title a, .entry-meta a, .page-links a, .page-links a .page-number, .entry-footer a, .entry-footer .cat-links a, .entry-footer .tags-links a, .edit-link a, .post-navigation a, .logged-in-as a, .comment-navigation a, .comment-metadata a, .comment-metadata a.comment-edit-link, .comment-reply-link, a .nav-title, .pagination a, .comments-pagination a, .site-info a, .widget .widget-title a, .widget ul li a, .site-footer .widget-area ul li a, .site-footer .widget-area ul li a {box-shadow:0px 0px;}

a.btn, input.wpcf7-submit, input[type="submit"].es_submit_button{ -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; cursor: pointer; display: inline-block; outline: none; position: relative; padding: 12px 35px 12px 35px; margin-top: 10px; color: var(--white); line-height: 1.5; border-radius: unset; font-size: 1.4rem;} 
a.btn:hover, input.wpcf7-submit:hover, input[type="submit"].es_submit_button:hover{background-color:var(--white); color: var(--black);}

a.btn.link{ padding: 0px; text-decoration: underline;}
a.btn.link:hover{ color: var(--black);}

.teambtn { position: absolute; bottom: 0px; left: 0px; z-index: 1; width: 100%; background: var(--green); color: var(--white); padding: 10px 30px; display: block;}
.teambtn:active, .teambtn:focus, .teambtn:visited{ color: var(--white);}
.teambtn:hover{background: var(--blue); color: var(--white) !important; }
a.knowmore{color: var(--black); border: 1px solid var(--black); padding:.8rem 2rem; border-radius:0.5rem; margin-top: 2rem;}

input.wpcf7-submit, input[type="submit"].es_submit_button{font-family: var(--font-family-montserrat);  background: var(--blue);  border: 1px solid transparent;}
input.wpcf7-submit:hover, input[type="submit"].es_submit_button:hover{color:var(--blue); border: 1px solid var(--blue); background: transparent;}

.vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline{background: var(--blue) !important ; color: var(--white) !important; border-radius: unset; border: 0px; border-bottom: 4px solid var(--green) !important; text-transform: uppercase; padding: 15px 3rem !important; font-weight: 600;}
.vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline:focus, .vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline:hover{ border: 0px; border-color: var(--blue) !important; background-color: var(--green) !important;  color: var(--white) !important; }

.knowmore .vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline{color: var(--blue) !important; background-color: transparent !important;  box-shadow: none !important; border-radius: unset; border: 1px solid var(--blue) !important; padding: 0.8rem 2rem !important; font-size: 1.4rem; text-transform: none;}
.knowmore .vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline:hover{ background-color: var(--blue) !important; border: 1px solid var(--blue) !important; box-shadow: none !important; color: var(--white) !important;}

/*---------------------------------------------Error Page -------------------------------------------------*/
.error-404{ text-align: center; font-weight: 400; padding: 10rem 0px;}
.error-404 .page-header { width: 100%; overflow: hidden; position: relative; font-size: 16px; color: var(--white)}
.error-404 .page-title {    font-family: var(--font-family-montserrat); color: var(--blue); position: relative; padding-bottom: 0.3em; margin-bottom: 0em; font-size: 55px; line-height: normal;}
.error-404 .title404{ font-size: 35px;}
.error404 .page-content{ padding-bottom:0px;}
.error404 .page-content p{ line-height: normal;}
.error-404 a.back-to-home { display: inline-block; background: var(--blue); color: var(--white); font-size: 16px; line-height: 24px; padding: 10px 50px; text-align: center; margin: 50px 0 0;}


.loader{ display: none; position: fixed; height: 100%; width: 100%; background:#349be0; z-index:9; text-align: center; top:0%;}
.loader .loaderblock{ border: 8px solid #f3f3f3; border-radius: 50%; border-top: 8px solid #000; width: 120px; height: 1	20px; -webkit-animation: spin 2s linear infinite; /* Safari */ animation: spin 2s linear infinite; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-left: -60px; margin-top: -60px;}
.loader img.logo{ width:60px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.movesection .loader{top:-100%; padding-top: 0px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;}

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}

.wrap, .panel-content .wrap{padding:0px; max-width: 100%;}

/* .entry-header, body:not(.archive) .post-thumbnail{ display: none;} */
.home .entry-header, .home .subbanner{ display: none;}
.blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments{ width: 100%; float: none;}
.page:not(.home) #content{ padding: 0px;}

.page article .entry-header{ max-width: 1300px; margin: 0px auto;}
.page article .entry-header .entry-title{font-size:3rem; font-weight:800; color:var(--blue); text-transform: uppercase; margin-bottom: 1rem;}

.post, .page{margin:0px;}
.entry-content{margin-top: 0px;}

.form-control{ height: 50px; line-height: 50px; color: #666666;}
.ptnone{ padding-top: 0px !important;}

/* .slick-prev:before, .slick-next:before{ display: none;}
.slick-dots{ right: 0px; left: 0px; width: auto; bottom: -45px;}
.slick-slide{ outline: none; height: 100%;}
.slick-dots li{width: 10px; height: 10px;}
.slick-dots li.slick-active button{ background: rgba(255,255,255,1);}
.slick-dots li button{ width: 100%; height: 100%; position: relative; border-radius: 0px;}
.slick-dots li button::before{ background: rgba(255,255,255,0.5); content: ""; width:100%; height: 100%;} */

.card{ display: flex; flex-direction: row; align-items: center;}
.card h6{color: var(--blue);}
.card a.btn{ color: var(--blue);}
.minus-mt70{ margin-top: -70px;}

/* Header */
body.home .site{ position: relative;}

header.site-header { position: absolute; top: 0px; left: 0px; right: 0px; z-index: 99;}
.headernavrow{top:0px; left:0px; right:0px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.headernavrow.fixed-header{ background:var(--black); position: fixed; top: 0; left: 0; width: 100%; box-shadow: 0px 0px 5px rgba(0,0,0,0.2);}
.headernavrow .container{  max-width: 1360px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
.brandlogo{ width: 300px;}
.custom-logo-link{ width: 100%;}
.brandlogo img{ width: 100%;}

.main-navigation {float: none; width: auto;}
.headerright{ padding: 0px 0px 0px 0px; }
.headerright .nav-menu li{ position: relative;  padding:30px 0px;}
.headerright .nav-menu li > a{ color: var(--white); font-weight: 500; padding:5px 10px; margin: 0px 5px; border-radius: 2px; line-height: normal; transition:none;}
.headerright .nav-menu li.phonelinks a{ border-right:0px;}
.headerright .nav-menu li:hover > a{background-color: var(--white); color: var(--blue); text-decoration: none;}

.main-navigation ul li ul.sub-menu{display: flex; flex-direction: column; background:var(--blue); top: calc(100% - 25px);}
.main-navigation ul li ul.sub-menu li{padding: 0px 0px;}
.main-navigation ul li ul.sub-menu li a{  padding:5px 10px;font-size: 14px; margin: 0px; margin-bottom: 5px;}
.main-navigation ul > li:hover > a, .main-navigation ul > li.current-menu-item > a, .main-navigation ul > li.current_page_item > a, .main-navigation ul > li.current-menu-ancestor > a{background: var(--white); color: var(--blue);}
.main-navigation ul li ul.sub-menu li a:hover{ background:var(--white); color:var(--blue);}

.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul{left: 5px;}

.menu-toggle, .main-navigation.toggled ul{ display: flex;}
.navigation-toggle { display:none; line-height:26px; width:100%; height:100%; margin:0px 17px 0 0; z-index:99; outline:0; background:none; vertical-align:top; border:none; padding:0; cursor:pointer;}
.menu-toggle.toggled, .menu-toggle.toggled:hover, .menu-toggle.toggled:focus{ background:none;}
.main-navigation .menu-toggle{padding: 0px; margin: 0px; display:none; line-height:36px; }
.main-navigation .menu-toggle:hover, .main-navigation .menu-toggle:focus{ outline: none;}
.menu-icon {display:inline-block; vertical-align:top; position:relative; width:25px; height:27px; top:0px; margin:0; }
.icon-toggle {display: inline-block; position: absolute; top:-4px; left:0px; }
.lines {display: inline-block; position: relative; width:25px; height:2px; background-color: var(--white)}
.lines:before, .lines:after {content: ''; display: inline-block; width: 25px; height:2px; background-color: var(--white); position: absolute; left: 0; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;}
.lines:before {top: 8px;}
.lines:after {top: -8px; width:25px;}
.icon-toggle .lines {transition: background .3s .6s ease;}
.icon-toggle .lines:before, .icon-toggle .lines:after { -webkit-transform-origin: 50% 50%;  transform-origin: 50% 50%; transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease; transition: top .3s .6s ease, transform .3s ease;}
.toggled .icon-toggle .lines {transition: background .3s 0s ease; background: transparent;}
.toggled .icon-toggle .lines:before, .toggled .icon-toggle .lines:after {transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;  transition: top .3s ease, transform .3s .5s ease; top: 0; width: 25px;}
.toggled .icon-toggle .lines:before {-webkit-transform: rotate3d(0, 0, 1, 45deg); -ms-transform: rotate(45deg); transform: rotate3d(0, 0, 1, 45deg);}
.toggled .icon-toggle .lines:after {-webkit-transform: rotate3d(0, 0, 1, -45deg); -ms-transform: rotate(-45deg); transform: rotate3d(0, 0, 1, -45deg); }
.menu-toggle.toggled, .menu-toggle.toggled:hover, .menu-toggle.toggled:focus {outline:0px;}

.headerright .mobile-menu-arrow{ display: none;}

/*.site-main{ background: url(../images/page-bg.png) repeat left top;}*/

/* Footer */
footer.site-footer{background: var(--blue);}
.footerrow1 { padding:5rem 0px 5rem 0px; border-bottom: 1px solid var(--white30);}
.footerrow1 .container { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;}
.footerrow1 .footerblock { flex:0 1 100%; padding-right: 30px;}
.footerrow1 .footerblock:last-child{ padding-right: 0px;}
.footerrow1 .footerblock .widget_text{ margin-bottom: 1rem;}
.footerrow1 .footerblock h5{ color: var(--white); text-transform: uppercase; font-weight: 800; padding-bottom: 1.5rem; margin-bottom: 1.5rem; position: relative;}
.footerrow1 .footerblock h5:after{ position: absolute; left: 0px; bottom: 0px; width: 5rem; height: 2px; display: inline-block; content: ""; background-color: var(--green);}
.footerrow1 .footerblock li:not(.wp-social-link){ font-size: 1.4rem; padding-bottom: 1rem; font-weight: 600;}
.footerrow1 .footerblock p, .footerrow1 .footerblock p a{ color: var(--white); font-weight: 400;}
.footerrow1 .footerblock .menu a{color: var(--white);}
.footerrow1 .footerblock:last-child h5:last-of-type{ /*margin-top:3rem;*/}
.footerrow1 .footerblock i{ margin-right: 1rem;}

.copyright .widget{ margin-bottom: 0px;}
.copyright p{ font-size: 1.2rem; color: var(--white); text-align: center; padding: 2rem;}

.whatsup.mobilewhatapp{ display: none;}
.whatsup { position: fixed; right: 5px; bottom: 13px; display: inline-block; padding:7px 18px 7px 43px; font-size: 1.2rem; line-height: 16px; font-weight: 400; box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3); background: #2ab200; color: var(--white); border-radius: 30px; z-index:9999;}
.whatsup:visited{ color: var(--white);}
.whatsup b {font-size: 1.8rem; font-weight:600; display: block;}
.whatsup span {position: absolute; left:-9px; top: 0px; background: url(../images/whatsup.webp) 0px 0px no-repeat; background-size: 100%; display: inline-block; width: 46px; height: 46px; border-radius: 50%; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); transition:all 0.2s ease 0s;}
a:hover.whatsup {padding:7px 18px 7px 45px; color: var(--white);}

.slick-slider, .slick-list, .slick-track{ height: 100%;}
.mainslider{ position: relative; height: calc(100vh - 3rem);}
.mainslider .banneritem{ position: relative;}
.mainslider .banner-img{position: relative; height: 100%;}
.mainslider .banner-img img{ height: 100%; object-fit: cover;}
.mainslider .banner-img::before{ background-color: var(--black); opacity: 0.7; content: ""; display: inline-block; position: absolute; width: 100%; height: 100%;}
.mainslider .bannerinfo{ position: absolute; display: inline-block; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: var(--white80); max-width: 550px;}
.mainslider .bannerinfo h2{ padding-bottom: 15px; margin-bottom: 15px;}
.mainslider .bannerinfo h2::after{background-color: var(--blue); height:2px; content: ""; display: inline-block; position: absolute; width: 200px; left:50%; bottom: 0px; transform: translateX(-50%);}
.mainslider .bannerinfo .btn{ background-color: var(--blue); border: 0px; border-bottom: 4px solid var(--green);}
.mainslider .bannerinfo .btn:hover{ background-color: var(--green); color: var(--white); border-color: var(--blue);}

.mainslider .slick-dots{ bottom: 30px; display: flex; align-items: center; justify-content: center;}
.mainslider .slick-dots li{ background-color: var(--blue); width:auto; height:auto; display: inline-block; padding: 10px 15px; width: 160px; line-height: normal; font-size: 1.3rem; font-weight: 600; height: 52px; display: flex; align-items: center;}
.mainslider .slick-dots li a{ color: var(--white); text-transform: uppercase; text-align: left;}
.mainslider .slick-dots li.slick-active{ background-color: var(--green);}
.mainslider .slick-dots li.slick-active a{ color: var(--black);}
.mainslider .slick-dots li button::before{ display: none;}

.short-description{ max-width: 550px; margin: 0px auto; text-align: center;}

.text-center{ text-align: center;}
.bloglist{ text-align: left;}
.home-blog{ padding: 35px 0px;}
.home-blog .container p {color: #666666;}
.home-blog .vc_grid-item .vc_grid-item-mini{background: #ffffff; border-radius: 5px; overflow: hidden; border-radius: 0px;}
.home-blog .vc_grid-item .vc_gitem-zone{position: relative; overflow: visible;}
.home-blog .vc_grid-item .vc_gitem-animated-block{ position: relative;}
.home-blog .vc_grid-item .vc_gitem-animated-block:before{background-color: var(--green); content: ""; display: inline-block; position: absolute; width: 100%; height: 12%; left: -5%; top: -10%; z-index: 1; transform: rotateZ(-10deg);}
.home-blog .vc_grid-item .vc_gitem-zone-mini{ background-color: var(--blue); color: var(--white);}
.home-blog .vc_grid-item .vc_gitem-zone-mini .vc_gitem-row-position-top{ position: relative;}
.home-blog .vc_grid-item .vc_gitem-zone-mini .vc_gitem-row-position-top:before{background-color: var(--blue); content: ""; display: inline-block; position: absolute; width: 110%; height: 80%; left:-5%; top: -40%; right: 0px; z-index: 1; transform: skew(-10deg, -10deg);}
.home-blog .vc_grid-item .vc_gitem-zone-mini .vc_gitem-col{ padding: 2rem; padding-top: 0px; position: relative; z-index: 1;}
.home-blog .vc_grid-item .vc_gitem-zone-mini .vc_gitem-col .vc_gitem-post-data{ color: var(--white);}
.home-blog .vc_grid-item .vc_gitem-zone-mini .vc_gitem-col .vc_gitem-post-data-source-post_title h5{ color: var(--white); font-weight: 600; min-height: 70px;}
.home-blog .vc_grid-item .vc_gitem-zone-mini .vc_gitem-col .vc_gitem-post-data-source-post_date { text-align: right; position: absolute; width: 100%; right: 0px; top: -50px;}
.home-blog .vc_grid-item .vc_gitem-zone-mini .vc_gitem-col .vc_gitem-post-data-source-post_date p{ color: var(--black); background-color: var(--green); display: inline-block;}
.home-blog .vc_grid-item .vc_gitem-zone-mini p{ font-size: 16px; color: var(--black); font-weight: 600; padding: 0.3rem 1.5rem 0.3rem 2.5rem; position: relative;}
.home-blog .vc_grid-item .vc_gitem-zone-mini .vc_gitem-col .vc_gitem-post-data-source-post_date p:before{content: ""; display: inline-block; position: absolute; width: 0;  height: 0; border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-left:10px solid; border-left-color:var(--blue); left:0px; top: 0px; }
.home-blog .vc_grid-item .vc_gitem-zone h4{ min-height:72px; font-size:1.27em; color: #232325; line-height: 24px; font-weight: 600; text-transform: none; margin-bottom: 0px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* number of lines to show */ -webkit-box-orient: vertical;}

.home-blog .vc_btn3.vc_btn3-color-grey, .home-blog .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat{color: var(--white);  background-color: transparent; text-decoration: underline; padding: 0px;}
.home-blog .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat:hover, .home-blog .vc_btn3.vc_btn3-color-grey:hover{color: var(--green);  background-color: transparent;}

.slick-slider{ overflow: hidden;}
.home .our-team { padding: 50px 0px; }
.ourteamrow{ width: 1360px; margin: 0px auto; text-align: center;}
.ourteamslider{ display: flex; flex-direction: column;}
.ourteamrow .card{ background: var(--white); padding: 2rem 2rem 4rem 2rem; margin: 1.5rem; align-items: inherit; display: flex; flex-direction: column; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); position: relative; overflow: hidden;}
.ourteamrow .card:before{background-color: var(--blue); content: ""; display: inline-block; position: absolute; width: 100%; height: 45%; left: 0%; top: -20%; z-index: 1;  transform: skew(0deg, 332deg);}
.ourteamrow .card .card-img{ position: relative; z-index: 1; margin-bottom: 2rem;}
.ourteamrow .card .card-img img{ width: 100%; display: block; object-fit: cover;}
.ourteamrow .card .cardinfo{ position:absolute; height: calc(100% - 4rem); overflow-y: auto; padding: 1rem; left: 0px; top: 100%; right: 0px; background: var(--white); z-index: 1; transition: all ease-in-out 0.5s;}
.ourteamrow .card:hover .cardinfo{ top: 0px; }
.ourteamrow .card .cardinfo li{ font-size: 1.2rem; line-height: normal; text-align: left; position: relative; margin-bottom: .5rem;  padding-left:2rem;}
.ourteamrow .card .cardinfo li:before{font-family: 'FontAwesome'; position: absolute; left: 0px; top:2px;  content: '\f101'; color: var(--blue);}
.ourteamrow .card .card-body h5 span{ font-weight: 500; display: block; color: var(--black); font-size: 1.4rem;}
.ourteamrow .sociallinks{bottom: 0px; left:0px; right:0px; padding:0px 0px 25px 0px;}
.ourteamrow .sociallinks a{ margin: 0px 5px; color: var(--black); width: 25px; height: 25px; line-height: 30px; display: inline-block; border-radius: 100%; text-align: center; font-size: 1.8rem;}
.ourteamrow .sociallinks a:hover{ background: var(--white); color: var(--blue);}
.card-body .viewfullbio{ font-size: 16px; border-color:var(--blue); color: var(--blue) ; text-transform: uppercase; text-decoration: none ;}
.card-body .viewfullbio:hover{ color: var(--white) !important;}

.ourteamrow .card h2, .ourteamrow .card p{margin-bottom:35px; padding-bottom: 0px;}
.ourteamrow .card p{ color: var(--gray-dark); margin-bottom:15px;font-family: var(--font-family-montserrat); }
.ourteamrow .profileinfo p span{ width: 26px; display: inline-block; text-align: center; vertical-align: top;}
.ourteamrow .profileinfo p a{ text-decoration: none;  display: block;}

.single-our-team .vc_figure, .single-our-team .vc_single_image-wrapper, .single-our-team .wpb_single_image img{ width: 100%;}
.single-our-team p:not(:nth-last-child()){margin-bottom: 20px;}
.single-our-team .skillblock{ background: #f6f6f6; padding: 50px 0px;}
.single-our-team .ourteam-logo{ background: #f8f2e6;}
.single-our-team .ourteam-logo .container{ display: flex; align-items: center;}
.single-our-team .ourteam-logo .wpb_content_element{ margin-bottom: 0px;}

.single-our-team .site-main ul{ padding-top: 1.5rem;}
.single-our-team .site-main ul li{  margin-bottom: 1.5rem; display: block; position: relative; padding-left:2rem;}
.single-our-team .site-main ul li:before{font-family: 'FontAwesome'; position: absolute; left: 0px; top: 1px; content: '\f101'; color: var(--blue);}

.blue-bg{background-color: var(--blue);}
.blue-bg h4, .blue-bg .short-description p{ color: var(--white);}
.blue-bg h3{ color: var(--green);}
.blue-bg .vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline{border-bottom: 4px solid var(--white) !important; color: var(--white) !important; background: var(--green) !important;}
.blue-bg .vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline:focus, .blue-bg .vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline:hover{ background-color: var(--white) !important;  color: var(--blue) !important; border-color:var(--green) !important;}

.black-bg h4, .blue-bg .short-description p{ color: var(--white);}
.black-bg h3{ color: var(--green);}
.black-bg .vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline{border-color:var(--white) !important; color:var(--white) !important;}
.black-bg .vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline:focus, .black-bg .vc_btn3.vc_btn3-color-primary.vc_btn3-style-outline:hover{ background-color: var(--green) !important;  color: var(--white) !important; border-width:1px; border-color:var(--green) !important;}

.home-our-services{ background-color: var(--blue); color: #fff; padding: 50px 0px;}
.home-services{display: grid; grid-template-columns: auto auto auto auto; grid-auto-rows: 1fr;}
.home-services .slick-track{ display: flex; flex-direction:row;}
.home-services .slick-track:before, .home-services .slick-track:after{ display: none;}
.home-services{ display: flex; flex-wrap: wrap;}
.home-services .card{ background-color: var(--white); margin: 1.5rem; padding: 2rem; max-width: calc(25% - 3rem); flex-direction: column; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); text-align: left; align-items: flex-start;}
.home-services .card-body h3{font-size: 1.6rem; margin-top: 1.5rem; line-height: normal;  color: rgb(0, 0, 0);  font-weight: bold; text-transform: uppercase;  text-align: left; }
.home-services .card-body h3 a{color: rgb(0, 0, 0);}
.home-services .card:last-child{ margin-bottom: 1.5rem;}
.home-services .card p{ font-weight: 500;}
.home-services .card-body .short-desc{ min-height:180px;}


/*.home-publications{ padding: 5rem 0rem; /*background-color: var(--black);background: linear-gradient(90deg, #0e0d0b 80%, #94c83d 20%); position: relative; display: flex;}*/

.home-publications{ padding: 5rem 0rem; background-image: linear-gradient(to right, transparent 50%, #f9f9f9 50%), url('http://localhost/lawbrothers/wp-content/uploads/2022/09/latest-publication.png'); position: relative; display: flex;}
.home-publications h3{text-transform: unset; font-weight: 600;}
.publicationrow .card{ background: var(--blue); padding: 2rem 1rem; margin: 15px 15px; align-items: inherit; display: flex; flex-direction: column; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); position: relative; overflow: hidden; position: relative;}
.publicationrow .card:before{ width: 150%; height: 100%; position: absolute; content: ""; background: var(--white); display: inline-block; left: 0px; top: 0px; border-radius: 75%; transform: translate(-50%, -50%); left: 50%;}
.publicationrow h6{ position: relative; color: var(--black); min-height: 60px; margin: 10px;}
.publicationrow .card-img{display: flex; align-items: center; justify-content: center; height: 26rem; overflow: hidden; position: relative;}
.publicationrow .card-img a{ display: block;}
.publicationrow .card-img img{ object-fit: cover; height: 100%; width: 70%; margin: 0 auto;}
.publicationrow .card a.btn{ color: var(--green); border-color: var(--green);box-shadow: none; border-radius: unset;}
.publicationrow .card a.btn:hover{ color: var(--blue); background-color: var(--green);}
.home-publications h2{color: var(--blue); font-weight: normal; text-transform: uppercase;}
.home-publications h2::after{background-color: var(--blue); width: 140px; height: 0.6rem;; content: ""; display: inline-block; position: absolute; left: 0px; bottom: 10px; }
.home-publications h2 strong {font-weight: normal; color: var(--blue);}
.home-publications h5 {color: var(--blue); text-transform: uppercase; font-size: 16px; font-weight: normal;font-weight: 500; line-height: 23px;}
.home-publications strong {font-weight: normal;}
.home-publications p {color: var(--blue);text-align: left;}
.home-publications p strong {color: var(--blue); text-transform: none; font-weight: 600;}
.home-publications a.btn {border: 1px solid var(--blue); margin-right:5px; color: var(--blue);}
.home-publications a.btn:hover{ color: var(--white); background-color: var(--blue);}
.home-publications .vc_col-sm-6 {padding: 30px;}

.home-media{ padding: 5rem 0rem; background-color: var(--gray-light); position: relative; display: flex;}
.home-media:before{position: absolute; display:inline-block; content: ""; width: 177px; height: 284px; background: url(../images/media-left-bg.png) left top; left: 0px; top: 0px;}
.home-media:after{position: absolute; display:inline-block; content: ""; width: 322px; height: 171px; background: url(../images/media-right-bg.png) left top; right: 0px; bottom: 0px;}

.home-media .card{ background: var(--white); padding: 2rem; margin: 15px 15px; align-items: inherit; display: flex; flex-direction: column; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); position: relative; overflow: hidden;}
.home-media .card-img{display: flex; align-items: center; justify-content: center; border: 1px solid var(--gray-light); height: 27rem; overflow: hidden;}
.home-media .card-img a{ display: block;}
.home-media .card-img img{ object-fit: cover; height: 100%; width: 100%;}
.home-media .card a.btn{ color: var(--blue); border-radius: unset; border: 1px solid var(--blue);}
.home-media .card a.btn:hover{ background-color: var(--blue); color: var(--white); }






blockquote{ font-size: 1.4em; width:100%; margin:0px auto 25px auto; font-style:italic; color: var(--blue); padding:1.2em 30px 1.2em 75px;  border-left:8px solid var(--blue) ; line-height:1.6;  position: relative; background:#EDEDED;}
blockquote::before{ content: "\201C";  color:var(--blue);  font-size:4em;  position: absolute;  left: 10px;  top:-10px;}
blockquote::after{ content: '';}
blockquote span{ display:block; color:#333333; font-style: normal;  font-weight: bold;  margin-top:1em;}

.ourservices-video{ background: #f6f6f6; padding: 50px 0px;}
.ourservices-video h5{ text-align: center;}
.ourservices-video a strong{ text-decoration: underline;}

.about-section{padding:70px 0px 35px 0px; background: linear-gradient( to right,   #94c83d 0%, #94c83d 35%, #e5e5e5 35%, #e5e5e5 100%);}
.about-section figure, .about-section .vc_single_image-wrapper, .about-section img{ width: 100%;}
.about-section a {color:#284ea2; padding: 10px 15px; border: 1px solid #284ea2;/* border-radius: 7px;*/}
.about-section .vc_column_container{ display: inline-block; line-height: normal; vertical-align: middle;}

.client-slider{ padding-bottom: 4.5rem;}
.client-slider .slick-track{display: flex !important;}
.client-slider .slick-slide{ height: inherit !important;}
.client-slider .partnerblock{ margin: 0px 0px; text-align: center; display: flex; align-items: center; justify-content: center; position: relative;}
.client-slider .partnerblock::before{ position: absolute; right: 7px; width: 5px; height: 100%; display: inline-block; content: ""; background-color: var(--gray-10); transform: skewX(-10deg);}
.client-slider .partnerblock img{ display: inline-block; vertical-align: middle;}
.client-slider .slick-dots{ bottom: 0px;}
.client-slider .slick-dots li button:before{ font-size: 1.5rem; width: auto; height: auto; line-height: normal; opacity: 1; color: var(--gray-10);}
.client-slider .slick-dots li.slick-active button:before{ color: var(--blue);}
.client-slider .slick-arrow{ width: 50px; height: 50px; z-index: 1; background-color: var(--blue); bottom: 0px; transform:translateY(0%); top: inherit; cursor: pointer;}
.client-slider .slick-arrow.slick-prev{ left: 50%; margin-left: -55px;}
.client-slider .slick-arrow.slick-next{ right: 50%; margin-right: -55px;}

.subbanner{ width: 100%; height:35vh; background:var(--blue); overflow: hidden; position: relative;}
.subbanner figure{ position: relative; height: 100%; background: rgba(10,60,90,0.4);}
.subbanner figure::after{ position: absolute;  background:url(../images/header-bg.png) repeat-x left top; background-size: 100% 100%; content: ""; height: 100%; width: 100%; display: inline-block; z-index: 1; left: 0px; right: 0px;}
.subbanner figure::before{ position: absolute;  background: rgba(10,60,90,0.6); background-size: 100% 100%; content: ""; height: 100%; width: 100%; display: inline-block; z-index: 1; left: 0px; right: 0px;}
.subbanner img{ width: 100%; height: 100%; object-fit: cover; vertical-align: top;}

.subbanner .bannerinfo{ display:flex; position: absolute; margin: 0px auto; z-index: 1; left: 0px; right:0px; bottom:35px; height: 100%; align-items: flex-end;}
.subbanner .bannerinfo .container{ max-width:980px; margin:0px auto; text-align: center;}
.subbanner .bannerinfo .entry-title{color: var(--white); position: relative;}
.subbanner .bannerinfo p{ color: var(--white); font-weight: 500;}

.breadcrumb{ padding:0px 0px; background: var(--blue); color: var(--white); font-weight: 500; margin-bottom: 70px;}
.breadcrumb .container{ padding: 12px 15px;}
.breadcrumb a{color: var(--white); padding: 0px 3px; position: relative;}
.breadcrumb span{ padding: 0px 3px; font-weight: bold;}

.single .site-main .container{ padding:0px 0px; display:flex; flex-direction:row;}
.single .site-main .container.no-sidebar{ display: block;}
.single .site-main .single-left{padding:0px 15px; flex: 1 1 100%;}
.single .site-main .single-left ul, .single .site-main .single-left ol{padding:0 0 7px 0px;}
.single .site-main .single-left ol{ margin: 0px 0px 0px 17px;}
.single .site-main .single-left ol li{ list-style: decimal;}
.single .site-main .single-left ul li, .single .site-main .single-left ol li{ position: relative; margin-bottom: 1.5rem;}
/* .single .site-main .single-left ul li:before{ width: 7px; height: 7px; display: inline-block; position: absolute; left: 0px; top:7px; background-color: var(--blue); content: ""; border-radius: 100%;} */
.single .site-main .single-left ul ul, .single .site-main .single-left ol ol{margin-top: 15px; margin-left: 0rem;}
.single .site-main .single-left h2{color:var(--blue); font-size:3.6rem; font-weight:bold; text-transform: inherit;letter-spacing: 0px; margin-bottom:0px; padding-bottom:2rem; }
.single .site-main .single-left .entry-header .entry-meta{ padding-bottom:3rem;}
.single .site-main .single-left .post-thumbnail img{ width: 100%; margin-bottom: 2rem;}
.single .site-main .single-left p{text-transform: inherit; margin-bottom: 25px;}
.single .site-main .single-left p strong{ color: var(--blue);}
.single .site-main .single-left p:last-child{ margin-bottom: 0px;}
.single .site-main .single-left table{border: 1px solid var(--blue); border-collapse: collapse; border-spacing: 0;}
.single .site-main .single-left table tr th{background-color: var(--blue); padding: 7px 10px; color: var(--white); border-right: 1px solid var(--white);}
.single .site-main .single-left table tr th:last-child{border-right: 0px solid var(--white);}
.single .site-main .single-left table tr td{border: 1px solid var(--blue); padding: 7px 10px;}

.single .site-main .single-right, .single-our-services .site-main .single-right{max-width:30%; padding:0px 15px; width: 100%;}
.single .site-main .single-right .widget{ margin-bottom:35px; border: 0px solid var(--blue); width: 100%; border-radius: 10px; overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,0.5);}
.single .site-main .single-right h2{font-size: 2rem; line-height: 40px; color: var(--white); padding: 15px 23px; background: var(--blue); margin-bottom: 0px;}
.single .site-main .single-right li{ margin-bottom: 0px; padding: 10px 2rem; border-bottom: 1px solid var(--gray-light);}
.single .site-main .single-right li.current-menu-item{ background-color: var(--blue); color: var(--white);}
.single .site-main .single-right li.current-menu-item a{ color: var(--white);}
.single .site-main .single-right li:last-child { border-bottom: none;}
.single .site-main .single-right li a{ color:#565656;}

.single-our-services .site-main ul li{display: block; position: relative; padding-left:2rem; line-height: 21px;}
.single-our-services .site-main ul li:before{font-family: 'FontAwesome'; position: absolute; left: 0px; top: 1px; content: '\f101'; color: var(--blue);}


.single-our-services .site-main .single-right ul li{padding: 1rem 2rem 1rem 3rem;}
.single-our-services .site-main .single-right ul li:before{top: 1rem; left: 1rem;}
.single-our-services .site-main .single-right ul li.current-menu-item{ background-color: var(--green); color: var(--white);}
.single-our-services .site-main .single-right ul li.current-menu-item:before{ color: var(--white);}
.comments-area{ display:none;}

.single-post .entry-footer{ display: none;}
.post-navigation .nav-links{ margin-top: 35px; font-size: 16px; line-height: normal;line-height: 18px;}
.post-navigation .nav-links .nav-previous, .post-navigation .nav-links .nav-next{border: 1px solid var(--green); margin: 0px 15px; border-radius: 5px; position: relative;  flex: 1; align-items: center; vertical-align: middle; position: relative; height: 100%;}
/*
 .post-navigation .nav-links .nav-previous:before, .post-navigation .nav-links .nav-next:before{ display: flex; align-items: center; justify-content: center; left: 0px; height: calc(100% + 20px); background-color: var(--green); color: var(--white); margin: -10px; padding: 10px;} */
/* .post-navigation .nav-links .nav-previous:before{content: "previous"; margin-right: 15px;} */
/* .post-navigation .nav-links .nav-next:before{content: "next"; margin-left:15px;} */
.post-navigation .nav-links a{ color: #565656; display: flex;}
.post-navigation .nav-links .nav-next a{ flex-direction: row-reverse;}
.post-navigation .nav-subtitle{ display: flex; align-items: center; justify-content: center; background-color: var(--green); color: var(--white); padding: 1.5rem;}

.post-navigation .nav-links .nav-title{ margin: 1.5rem;}


.about_ceo .wpb_content_element{ margin-bottom: 20px;}
.about_ceo p {margin-bottom: 30px;}
.about_ceo ul{ padding-bottom: 20px;}
.about_ceo ul li { margin-bottom: 15px; display: block; position: relative; padding-left: 17px;line-height: 21px;}
.about_ceo ul li:before{font-family: 'FontAwesome'; position: absolute; left: 0px; top: 2px; content: '\f101'; color: var(--blue);}
.serv-list {-moz-column-count: 2;-moz-column-gap: 20px; -webkit-column-count: 2;-webkit-column-gap: 20px; column-count: 2;
      column-gap: 20px;}
ul.serv-list li:before{font-family: 'FontAwesome'; content: '\f101'; color: var(--blue); margin-right: 5px;}

.our-client {padding: 50px 0px;}
.sub-email { background: var(--black);}

.section-right.wpb_column.vc_column_container.vc_col-sm-6 {background: #284ea2; padding: 50px 50px; }
.section-right h3{color: var(--white) !important; font-size: 24px; font-weight: bold;}
.section-right p {color: var(--white) !important; margin-bottom: 25px;}
span.ceo{ text-transform: uppercase; font-size: 15px;color: var(--white) !important;}
span.position{text-transform: uppercase; font-size: 13px;color: var(--white) !important;}

.contact-us .vc_separator .vc_sep_holder .vc_sep_line, h4::after, h4:before{display: none; }
.contact-us h4{text-transform: unset;}
.contact-us .wpb_content_element {margin-bottom: 0px;}
.contact-us .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {width: 2em; margin-right: 10px;}



.contact-main .form-group{margin-bottom: 25px;}
/* .contact-main .form-row, #content .wpb_text_column .form-row:last-child{ margin-bottom:25px;} */
/*.form-row .form-group label{ display:block; margin-bottom:5px; color: var(--blue);}
.form-row .form-group input, .form-row .form-group textarea{width: 100%; padding:10px 10px; margin-bottom:20px; font-family: 'proxima_novaregular';  position: relative; height: 45px; line-height: normal; border: 2px solid #e6e6e6; box-shadow: 2px 2px 5px rgb(0 0 0 / 5%); border-radius: 0px; color: var(--gray);}
.form-row .form-group textarea{height: 110px; resize: none;}
.form-row .form-group ::-webkit-input-placeholder {color: var(--gray);}
.form-row .form-group :-ms-input-placeholder {color: var(--gray);}
.form-row .form-group ::placeholder {color: var(--gray); }

input[type="text"], input[type="email"], input[type="password"], textarea {width: 100%;  padding: 10px 10px;  margin-bottom: 20px;  position: relative;  height: 45px;  line-height: normal;
  border: 2px solid #e6e6e6;  box-shadow: 2px 2px 5px rgb(0 0 0 / 5%);  border-radius: 0px;  color: var(--gray);}

.form-row .form-group textarea {  height: 110px;  resize: none;}*/
.ourteamrow .card .card-img:hover {  z-index: 1; position: relative;}


.knowledgerow{ padding: 5rem 0rem; position: relative; display: flex; flex-wrap: wrap;}
.knowledgerow .card{ background: var(--blue); padding: 2rem 1rem; margin: 15px 15px; align-items: inherit; display: flex; flex-direction: column; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); position: relative; overflow: hidden; position: relative; width: calc(25% - 30px);}
.knowledgerow .card:before{ width: 150%; height: 100%; position: absolute; content: ""; background: var(--white); display: inline-block; left: 0px; top: 0px; border-radius: 75%; transform: translate(-50%, -50%); left: 50%;}
.knowledgerow h6{ position: relative; color: var(--black); min-height: 4rem;}
.knowledgerow .card-img{display: flex; align-items: center; justify-content: center; height: 27rem; overflow: hidden; position: relative;}
.knowledgerow .card-img a{ display: block;}
.knowledgerow .card-img img{ object-fit: cover; height: 100%; width: 100%;}
.knowledgerow .card a.btn{ color: var(--green); border-color: var(--green);box-shadow: none; border-radius: unset;}
.knowledgerow .card a.btn:hover{ color: var(--white); background-color: var(--green);}

.form-row{display: flex; flex-direction: row; flex-wrap: wrap; margin-bottom:10px; margin-left: -5px; margin-right: -5px;}
.form-row .form-group{ width: 50%; padding: 0px 5px;}
.form-row.full .form-group{ width:100%; padding: 0px 10px;}
.form-row .form-group input{ width: 100%; border: 0px; background: #f5f5f5; color: #8a9196; border-radius: 0px; height:60px; line-height: 36px; padding: 0px 15px; font-size:16px; font-weight: 400;}
.form-row .form-group textarea{width: 100%; border: 0px; background: #f5f5f5; color: #8a9196; border-radius: 0px; height: 150px; line-height: normal; padding: 0px 15px; padding-top: 15px; font-size:16px;font-weight: 400;}
.form-row .form-group input:focus, .form-row .form-group textarea:focus{ outline: none;}
.form-row .form-group input.wpcf7-submit{width:190px; background: var(--blue); color:#ffffff; padding-top:0px; height: 52px; line-height:52px; padding-bottom:0px; border-bottom: 0px; font-size:18px; text-transform: none; }
.wpcf7-form-control-wrap{position: relative;}
/*.wpcf7-form-control-wrap .wpcf7-form-control { border: 0px; color: #fff; display: block; width: 100%; padding: .85rem 1.15rem .85rem 2.15rem; font-size: 1rem; line-height: 1.25; border-bottom: 1px solid #81b5e3; transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out; background: transparent; border-radius: 0px; transition: all 0.5s ease-in-out;}*/
.form-row .wpcf7-form-control-wrap ::-webkit-input-placeholder { color: #8a9196;}
.form-row .wpcf7-form-control-wrap ::-moz-placeholder { color: #8a9196;}
.form-row .wpcf7-form-control-wrap :-ms-input-placeholder { color: #8a9196;}
.form-row .wpcf7-form-control-wrap :-moz-placeholder { color: #8a9196;}

.contactus {  background-color : #222222; padding : 50px 0px;}
.contactus h1 {color: var(--green);}
.contactus h1:after{background-color: var(--green); width: 140px; height: 0.2rem;; content: ""; display: block;margin: 0 auto; margin-top: 15px;  }
.contactus h5 {color: var(--green); border-bottom: 1px solid #7f7f7f ; padding-bottom: 15px;}
.contactus p{color: var(--white50); font-size: 1.5rem; font-weight: 400;}
.contactus p strong{color: var(--white50); text-transform: unset; font-weight:700;}

/*Modal popup css*/
.modal {display: none; overflow: auto; position: fixed; top:0%; right: 0; bottom: 0; left: 0; z-index: 99999; -webkit-overflow-scrolling: touch; outline: 0;}
.modal.fade .modal-dialog {-webkit-transform: translate(0, -75%); -ms-transform: translate(0, -75%); transform: translate(0, -75%); -webkit-transition: -webkit-transform 0.3s ease-out; -moz-transition: -moz-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out; transition: transform 0.3s ease-out;}
.modal.in .modal-dialog {-webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%);}

.fade {opacity: 0; -webkit-transition: opacity 0.15s linear; transition: opacity 0.15s linear; }
.fade.in {opacity: 1;}
.modal-title {margin: 0; line-height: 1.42857143;}
.modal-body {position: relative; padding: 0px; display: flex;}
.modal-footer {margin-top: 15px; padding: 19px 20px 20px; text-align: right;}

.boardofgovernorspopup{background:rgba(0,0,0,0.8);}
.modal-dialog{  width:100%; max-width:1330px; margin: 0px auto; top: 50%; position: relative;}
.modal-content{box-shadow:none; border:none; border-bottom:solid .9rem var(--green); border-radius:0; background:#fff;}
.modal-title{  margin:0px 0px 1.5rem 0px; padding-bottom: 1rem; border-bottom:2px solid var(--blue);}
.modal-title p {font-size:0.929em;}
.modal-title h4 {font-size:1.143em; font-weight:bold; display: inline-block; margin:0px; color: var(--blue); padding: 0px;}
.modal-title.vc_col-sm-6 {padding: 0px 0px 10px 0px; margin-bottom: 10px;}
.modal-title span {font-weight:normal; font-size:0.857em; color:#999;}
/*.modal-title span b {font-weight:normal;}*/

.close{position:absolute; right: 10px; top: 10px; color:#000; font-size:24px; opacity:1; z-index:99; padding: 2px 7px; background-color: var(--blue); color: var(--white); cursor: pointer;}
.fade {opacity: 0; -webkit-transition: opacity 0.15s linear; transition: opacity 0.15s linear; }

.memberimg{ width: 35%; flex: 0 0 auto;}
.memberimg img{ object-fit: cover; width: 100%; height: 100%; }
.memberinfo{ flex:0 1 100%; padding: 2rem 2rem;}

div#memberdesc ul{ padding-top: 1.5rem; position: relative;}
div#memberdesc ul li{ margin-bottom: 1rem; display: block; position: relative; padding-left:2rem;}
div#memberdesc ul li:before{font-family: 'FontAwesome'; position: absolute; left: 0px; top: 1px;  content: '\f101'; color: var(--blue);}


.modal-title span, .modal-title b {color: var(--green); font-weight: bold;}
.myBtn { position: absolute; bottom: 0px; left: 0px; z-index: 1; width: 100%; background: var(--green); color: var(--white); padding: 10px 30px; display: block;}

.newsletter{padding: 45px 0px 4px 0px; background: url(http://localhost/lawbrothers/wp-content/uploads/2022/09/newletter-bg.jpg); background-repeat: no-repeat;}
.newsletter h2, .newsletter p {color: var(--white);padding: 0px; margin: 0px;}
#news-letter-container{  display:flex; flex-direction: row;}
input.wpcf7-form-control.has-spinner.wpcf7-submit.submit{margin: 0px;}
input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.email { padding: 13px;  border-radius: unset;}
.wpcf7 form.invalid .wpcf7-response-output {border-color: var(--green);}
.wpcf7 form .wpcf7-response-output {color: var(--white); margin: 0px;}