.container, .sub-banner .entry-title {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container, .sub-banner .entry-title {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .container, .sub-banner .entry-title {
    max-width: 720px;
  }
}
@media (min-width: 1360px) {
  .container, .sub-banner .entry-title {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .container, .sub-banner .entry-title {
    max-width: 1280px;
  }
}
@media (min-width: 1450px) {
  .container, .sub-banner .entry-title {
    max-width: 1470px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-desktop-large,
.col-desktop-large-auto, .col-desktop-large-12, .col-desktop-large-11, .col-desktop-large-10, .col-desktop-large-9, .col-desktop-large-8, .col-desktop-large-7, .col-desktop-large-6, .col-desktop-large-5, .col-desktop-large-4, .col-desktop-large-3, .col-desktop-large-2, .col-desktop-large-1, .col-desktop,
.col-desktop-auto, .col-desktop-12, .col-desktop-11, .col-desktop-10, .col-desktop-9, .col-desktop-8, .col-desktop-7, .col-desktop-6, .col-desktop-5, .col-desktop-4, .col-desktop-3, .col-desktop-2, .col-desktop-1, .col-laptop,
.col-laptop-auto, .col-laptop-12, .col-laptop-11, .col-laptop-10, .col-laptop-9, .col-laptop-8, .col-laptop-7, .col-laptop-6, .col-laptop-5, .col-laptop-4, .col-laptop-3, .col-laptop-2, .col-laptop-1, .col-tablet-large,
.col-tablet-large-auto, .col-tablet-large-12, .col-tablet-large-11, .col-tablet-large-10, .col-tablet-large-9, .col-tablet-large-8, .col-tablet-large-7, .col-tablet-large-6, .col-tablet-large-5, .col-tablet-large-4, .col-tablet-large-3, .col-tablet-large-2, .col-tablet-large-1, .col-tablet,
.col-tablet-auto, .col-tablet-12, .col-tablet-11, .col-tablet-10, .col-tablet-9, .col-tablet-8, .col-tablet-7, .col-tablet-6, .col-tablet-5, .col-tablet-4, .col-tablet-3, .col-tablet-2, .col-tablet-1, .col-mobile,
.col-mobile-auto, .col-mobile-12, .col-mobile-11, .col-mobile-10, .col-mobile-9, .col-mobile-8, .col-mobile-7, .col-mobile-6, .col-mobile-5, .col-mobile-4, .col-mobile-3, .col-mobile-2, .col-mobile-1, .col-mobile-small,
.col-mobile-small-auto, .col-mobile-small-12, .col-mobile-small-11, .col-mobile-small-10, .col-mobile-small-9, .col-mobile-small-8, .col-mobile-small-7, .col-mobile-small-6, .col-mobile-small-5, .col-mobile-small-4, .col-mobile-small-3, .col-mobile-small-2, .col-mobile-small-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 576px) {
  .col-mobile-small {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-mobile-small-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-mobile-small-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-mobile-small-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-mobile-small-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-mobile-small-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-mobile-small-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-mobile-small-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-mobile-small-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-mobile-small-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-mobile-small-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-mobile-small-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-mobile-small-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-mobile-small-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-mobile-small-first {
    order: -1;
  }

  .order-mobile-small-last {
    order: 13;
  }

  .order-mobile-small-0 {
    order: 0;
  }

  .order-mobile-small-1 {
    order: 1;
  }

  .order-mobile-small-2 {
    order: 2;
  }

  .order-mobile-small-3 {
    order: 3;
  }

  .order-mobile-small-4 {
    order: 4;
  }

  .order-mobile-small-5 {
    order: 5;
  }

  .order-mobile-small-6 {
    order: 6;
  }

  .order-mobile-small-7 {
    order: 7;
  }

  .order-mobile-small-8 {
    order: 8;
  }

  .order-mobile-small-9 {
    order: 9;
  }

  .order-mobile-small-10 {
    order: 10;
  }

  .order-mobile-small-11 {
    order: 11;
  }

  .order-mobile-small-12 {
    order: 12;
  }

  .offset-mobile-small-0 {
    margin-left: 0;
  }

  .offset-mobile-small-1 {
    margin-left: 8.3333333333%;
  }

  .offset-mobile-small-2 {
    margin-left: 16.6666666667%;
  }

  .offset-mobile-small-3 {
    margin-left: 25%;
  }

  .offset-mobile-small-4 {
    margin-left: 33.3333333333%;
  }

  .offset-mobile-small-5 {
    margin-left: 41.6666666667%;
  }

  .offset-mobile-small-6 {
    margin-left: 50%;
  }

  .offset-mobile-small-7 {
    margin-left: 58.3333333333%;
  }

  .offset-mobile-small-8 {
    margin-left: 66.6666666667%;
  }

  .offset-mobile-small-9 {
    margin-left: 75%;
  }

  .offset-mobile-small-10 {
    margin-left: 83.3333333333%;
  }

  .offset-mobile-small-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-mobile {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-mobile-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-mobile-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-mobile-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-mobile-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-mobile-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-mobile-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-mobile-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-mobile-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-mobile-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-mobile-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-mobile-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-mobile-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-mobile-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-mobile-first {
    order: -1;
  }

  .order-mobile-last {
    order: 13;
  }

  .order-mobile-0 {
    order: 0;
  }

  .order-mobile-1 {
    order: 1;
  }

  .order-mobile-2 {
    order: 2;
  }

  .order-mobile-3 {
    order: 3;
  }

  .order-mobile-4 {
    order: 4;
  }

  .order-mobile-5 {
    order: 5;
  }

  .order-mobile-6 {
    order: 6;
  }

  .order-mobile-7 {
    order: 7;
  }

  .order-mobile-8 {
    order: 8;
  }

  .order-mobile-9 {
    order: 9;
  }

  .order-mobile-10 {
    order: 10;
  }

  .order-mobile-11 {
    order: 11;
  }

  .order-mobile-12 {
    order: 12;
  }

  .offset-mobile-0 {
    margin-left: 0;
  }

  .offset-mobile-1 {
    margin-left: 8.3333333333%;
  }

  .offset-mobile-2 {
    margin-left: 16.6666666667%;
  }

  .offset-mobile-3 {
    margin-left: 25%;
  }

  .offset-mobile-4 {
    margin-left: 33.3333333333%;
  }

  .offset-mobile-5 {
    margin-left: 41.6666666667%;
  }

  .offset-mobile-6 {
    margin-left: 50%;
  }

  .offset-mobile-7 {
    margin-left: 58.3333333333%;
  }

  .offset-mobile-8 {
    margin-left: 66.6666666667%;
  }

  .offset-mobile-9 {
    margin-left: 75%;
  }

  .offset-mobile-10 {
    margin-left: 83.3333333333%;
  }

  .offset-mobile-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-tablet {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-tablet-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-tablet-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-tablet-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-tablet-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-tablet-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-tablet-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-tablet-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-tablet-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-tablet-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-tablet-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-tablet-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-tablet-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-tablet-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-tablet-first {
    order: -1;
  }

  .order-tablet-last {
    order: 13;
  }

  .order-tablet-0 {
    order: 0;
  }

  .order-tablet-1 {
    order: 1;
  }

  .order-tablet-2 {
    order: 2;
  }

  .order-tablet-3 {
    order: 3;
  }

  .order-tablet-4 {
    order: 4;
  }

  .order-tablet-5 {
    order: 5;
  }

  .order-tablet-6 {
    order: 6;
  }

  .order-tablet-7 {
    order: 7;
  }

  .order-tablet-8 {
    order: 8;
  }

  .order-tablet-9 {
    order: 9;
  }

  .order-tablet-10 {
    order: 10;
  }

  .order-tablet-11 {
    order: 11;
  }

  .order-tablet-12 {
    order: 12;
  }

  .offset-tablet-0 {
    margin-left: 0;
  }

  .offset-tablet-1 {
    margin-left: 8.3333333333%;
  }

  .offset-tablet-2 {
    margin-left: 16.6666666667%;
  }

  .offset-tablet-3 {
    margin-left: 25%;
  }

  .offset-tablet-4 {
    margin-left: 33.3333333333%;
  }

  .offset-tablet-5 {
    margin-left: 41.6666666667%;
  }

  .offset-tablet-6 {
    margin-left: 50%;
  }

  .offset-tablet-7 {
    margin-left: 58.3333333333%;
  }

  .offset-tablet-8 {
    margin-left: 66.6666666667%;
  }

  .offset-tablet-9 {
    margin-left: 75%;
  }

  .offset-tablet-10 {
    margin-left: 83.3333333333%;
  }

  .offset-tablet-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1360px) {
  .col-tablet-large {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-tablet-large-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-tablet-large-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-tablet-large-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-tablet-large-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-tablet-large-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-tablet-large-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-tablet-large-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-tablet-large-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-tablet-large-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-tablet-large-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-tablet-large-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-tablet-large-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-tablet-large-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-tablet-large-first {
    order: -1;
  }

  .order-tablet-large-last {
    order: 13;
  }

  .order-tablet-large-0 {
    order: 0;
  }

  .order-tablet-large-1 {
    order: 1;
  }

  .order-tablet-large-2 {
    order: 2;
  }

  .order-tablet-large-3 {
    order: 3;
  }

  .order-tablet-large-4 {
    order: 4;
  }

  .order-tablet-large-5 {
    order: 5;
  }

  .order-tablet-large-6 {
    order: 6;
  }

  .order-tablet-large-7 {
    order: 7;
  }

  .order-tablet-large-8 {
    order: 8;
  }

  .order-tablet-large-9 {
    order: 9;
  }

  .order-tablet-large-10 {
    order: 10;
  }

  .order-tablet-large-11 {
    order: 11;
  }

  .order-tablet-large-12 {
    order: 12;
  }

  .offset-tablet-large-0 {
    margin-left: 0;
  }

  .offset-tablet-large-1 {
    margin-left: 8.3333333333%;
  }

  .offset-tablet-large-2 {
    margin-left: 16.6666666667%;
  }

  .offset-tablet-large-3 {
    margin-left: 25%;
  }

  .offset-tablet-large-4 {
    margin-left: 33.3333333333%;
  }

  .offset-tablet-large-5 {
    margin-left: 41.6666666667%;
  }

  .offset-tablet-large-6 {
    margin-left: 50%;
  }

  .offset-tablet-large-7 {
    margin-left: 58.3333333333%;
  }

  .offset-tablet-large-8 {
    margin-left: 66.6666666667%;
  }

  .offset-tablet-large-9 {
    margin-left: 75%;
  }

  .offset-tablet-large-10 {
    margin-left: 83.3333333333%;
  }

  .offset-tablet-large-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1440px) {
  .col-laptop {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-laptop-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-laptop-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-laptop-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-laptop-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-laptop-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-laptop-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-laptop-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-laptop-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-laptop-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-laptop-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-laptop-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-laptop-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-laptop-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-laptop-first {
    order: -1;
  }

  .order-laptop-last {
    order: 13;
  }

  .order-laptop-0 {
    order: 0;
  }

  .order-laptop-1 {
    order: 1;
  }

  .order-laptop-2 {
    order: 2;
  }

  .order-laptop-3 {
    order: 3;
  }

  .order-laptop-4 {
    order: 4;
  }

  .order-laptop-5 {
    order: 5;
  }

  .order-laptop-6 {
    order: 6;
  }

  .order-laptop-7 {
    order: 7;
  }

  .order-laptop-8 {
    order: 8;
  }

  .order-laptop-9 {
    order: 9;
  }

  .order-laptop-10 {
    order: 10;
  }

  .order-laptop-11 {
    order: 11;
  }

  .order-laptop-12 {
    order: 12;
  }

  .offset-laptop-0 {
    margin-left: 0;
  }

  .offset-laptop-1 {
    margin-left: 8.3333333333%;
  }

  .offset-laptop-2 {
    margin-left: 16.6666666667%;
  }

  .offset-laptop-3 {
    margin-left: 25%;
  }

  .offset-laptop-4 {
    margin-left: 33.3333333333%;
  }

  .offset-laptop-5 {
    margin-left: 41.6666666667%;
  }

  .offset-laptop-6 {
    margin-left: 50%;
  }

  .offset-laptop-7 {
    margin-left: 58.3333333333%;
  }

  .offset-laptop-8 {
    margin-left: 66.6666666667%;
  }

  .offset-laptop-9 {
    margin-left: 75%;
  }

  .offset-laptop-10 {
    margin-left: 83.3333333333%;
  }

  .offset-laptop-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1450px) {
  .col-desktop {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-desktop-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-desktop-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-desktop-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-desktop-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-desktop-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-desktop-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-desktop-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-desktop-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-desktop-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-desktop-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-desktop-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-desktop-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-desktop-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-desktop-first {
    order: -1;
  }

  .order-desktop-last {
    order: 13;
  }

  .order-desktop-0 {
    order: 0;
  }

  .order-desktop-1 {
    order: 1;
  }

  .order-desktop-2 {
    order: 2;
  }

  .order-desktop-3 {
    order: 3;
  }

  .order-desktop-4 {
    order: 4;
  }

  .order-desktop-5 {
    order: 5;
  }

  .order-desktop-6 {
    order: 6;
  }

  .order-desktop-7 {
    order: 7;
  }

  .order-desktop-8 {
    order: 8;
  }

  .order-desktop-9 {
    order: 9;
  }

  .order-desktop-10 {
    order: 10;
  }

  .order-desktop-11 {
    order: 11;
  }

  .order-desktop-12 {
    order: 12;
  }

  .offset-desktop-0 {
    margin-left: 0;
  }

  .offset-desktop-1 {
    margin-left: 8.3333333333%;
  }

  .offset-desktop-2 {
    margin-left: 16.6666666667%;
  }

  .offset-desktop-3 {
    margin-left: 25%;
  }

  .offset-desktop-4 {
    margin-left: 33.3333333333%;
  }

  .offset-desktop-5 {
    margin-left: 41.6666666667%;
  }

  .offset-desktop-6 {
    margin-left: 50%;
  }

  .offset-desktop-7 {
    margin-left: 58.3333333333%;
  }

  .offset-desktop-8 {
    margin-left: 66.6666666667%;
  }

  .offset-desktop-9 {
    margin-left: 75%;
  }

  .offset-desktop-10 {
    margin-left: 83.3333333333%;
  }

  .offset-desktop-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1601px) {
  .col-desktop-large {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-desktop-large-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-desktop-large-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-desktop-large-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-desktop-large-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-desktop-large-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-desktop-large-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-desktop-large-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-desktop-large-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-desktop-large-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-desktop-large-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-desktop-large-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-desktop-large-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-desktop-large-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-desktop-large-first {
    order: -1;
  }

  .order-desktop-large-last {
    order: 13;
  }

  .order-desktop-large-0 {
    order: 0;
  }

  .order-desktop-large-1 {
    order: 1;
  }

  .order-desktop-large-2 {
    order: 2;
  }

  .order-desktop-large-3 {
    order: 3;
  }

  .order-desktop-large-4 {
    order: 4;
  }

  .order-desktop-large-5 {
    order: 5;
  }

  .order-desktop-large-6 {
    order: 6;
  }

  .order-desktop-large-7 {
    order: 7;
  }

  .order-desktop-large-8 {
    order: 8;
  }

  .order-desktop-large-9 {
    order: 9;
  }

  .order-desktop-large-10 {
    order: 10;
  }

  .order-desktop-large-11 {
    order: 11;
  }

  .order-desktop-large-12 {
    order: 12;
  }

  .offset-desktop-large-0 {
    margin-left: 0;
  }

  .offset-desktop-large-1 {
    margin-left: 8.3333333333%;
  }

  .offset-desktop-large-2 {
    margin-left: 16.6666666667%;
  }

  .offset-desktop-large-3 {
    margin-left: 25%;
  }

  .offset-desktop-large-4 {
    margin-left: 33.3333333333%;
  }

  .offset-desktop-large-5 {
    margin-left: 41.6666666667%;
  }

  .offset-desktop-large-6 {
    margin-left: 50%;
  }

  .offset-desktop-large-7 {
    margin-left: 58.3333333333%;
  }

  .offset-desktop-large-8 {
    margin-left: 66.6666666667%;
  }

  .offset-desktop-large-9 {
    margin-left: 75%;
  }

  .offset-desktop-large-10 {
    margin-left: 83.3333333333%;
  }

  .offset-desktop-large-11 {
    margin-left: 91.6666666667%;
  }
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Black.woff2") format("woff2"), url("../fonts/Gotham-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-BoldItalic.woff2") format("woff2"), url("../fonts/Gotham-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-BookItalic.woff2") format("woff2"), url("../fonts/Gotham-BookItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-LightItalic.woff2") format("woff2"), url("../fonts/Gotham-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-MediumItalic.woff2") format("woff2"), url("../fonts/Gotham-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Thin.woff2") format("woff2"), url("../fonts/Gotham-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-ThinItalic.woff2") format("woff2"), url("../fonts/Gotham-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-UltraItalic.woff2") format("woff2"), url("../fonts/Gotham-UltraItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-XLightItalic.woff2") format("woff2"), url("../fonts/Gotham-XLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  src: url("../fonts/MinionPro-Regular.woff2") format("woff2"), url("../fonts/MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/TimesNewRomanPS-BoldMT.woff2") format("woff2"), url("../fonts/TimesNewRomanPS-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Florian";
  src: url("../fonts/FlorianBlack-Regular.woff2") format("woff2"), url("../fonts/FlorianBlack-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?npvy5h");
  src: url("../fonts/icomoon.eot?npvy5h#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?npvy5h") format("truetype"), url("../fonts/icomoon.woff?npvy5h") format("woff"), url("../fonts/icomoon.svg?npvy5h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=tdg-], [class*=" tdg-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tdg-search-icon:before {
  content: "\e901";
  color: #fff;
}

.tdg-quote-icon:before {
  content: "\e900";
  color: #019a49;
}

.o-button, .c-button > button.vc_general.vc_btn3 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: #ffffff;
  padding: 1.8rem 3.7rem;
  border-radius: 5rem;
  background-color: #009a44;
  border: 2px solid #009a44;
  transition: all 0.5s ease;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  box-shadow: none;
}
.o-button:hover, .c-button > button.vc_general.vc_btn3:hover {
  border: 2px solid #009a44;
  background-color: transparent;
  color: #009a44;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums;
  height: auto;
  font-size: 62.5%;
  margin-top: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: Gotham, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
}

*:focus {
  outline: none !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
}

.btn-check:focus + .btn,
.btn:focus,
.btn-primary:active:focus {
  box-shadow: none;
}

ul {
  list-style: none;
}

blockquote,
body,
caption,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
table,
td,
th,
ul {
  margin: 0;
  padding: 0;
}

.o-text {
  font-family: Gotham, sans-serif;
}

.wpb_button,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li {
  margin-bottom: 0 !important;
}

figure,
figure > div {
  width: 100%;
}

.vc_row.container, .sub-banner .vc_row.entry-title {
  margin-right: auto;
  margin-left: auto;
}
.vc_row.container > .vc_col-sm-12 > .vc_column-inner, .sub-banner .vc_row.entry-title > .vc_col-sm-12 > .vc_column-inner {
  padding-left: 0px;
  padding-right: 0px;
}

.sub-banner .entry-title,
.o-header--h1 {
  font-size: 8.2rem;
  line-height: 8.2rem;
}
@media (max-width: 1359.98px) {
  .sub-banner .entry-title,
.o-header--h1 {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}

.common-title,
.o-header--h2 {
  font-size: 7.2rem;
  line-height: 7.5rem;
}
@media (max-width: 1359.98px) {
  .common-title,
.o-header--h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}

.o-header--h3 {
  font-size: 6.2rem;
  line-height: 6.2rem;
}
@media (max-width: 1359.98px) {
  .o-header--h3 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.our-people h2,
.o-header--h4 {
  font-size: 3.6rem;
  line-height: 3.6rem;
}
@media (max-width: 1359.98px) {
  .our-people h2,
.o-header--h4 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

.o-subheader--h1 {
  font-size: 3rem;
  line-height: 4rem;
}
@media (max-width: 1359.98px) {
  .o-subheader--h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.our-people h5, .our-people h2 strong, .our-leaders-text,
.o-subheader--h2 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}
@media (max-width: 1359.98px) {
  .our-people h5, .our-people h2 strong, .our-leaders-text,
.o-subheader--h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.o-subheader--h3 {
  font-size: 2rem;
  line-height: 3rem;
}
@media (max-width: 1359.98px) {
  .o-subheader--h3 {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.o-subheader--h4 {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
@media (max-width: 1359.98px) {
  .o-subheader--h4 {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.o-body-large {
  font-size: 2rem;
  line-height: 3rem;
}
@media (max-width: 1359.98px) {
  .o-body-large {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

footer .footer-block ul li a,
.o-body-medium {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
@media (max-width: 1359.98px) {
  footer .footer-block ul li a,
.o-body-medium {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.o-body-small {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
@media (max-width: 1359.98px) {
  .o-body-small {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}

.our-people p,
.o-paragraph-large {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
@media (max-width: 1359.98px) {
  .our-people p,
.o-paragraph-large {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.o-paragraph-medium {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
@media (max-width: 1359.98px) {
  .o-paragraph-medium {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.footer-btm .widget p, footer .footer-block .address a, footer .footer-block .address .linked-in-link, header .header-right .nav-menu li a,
.o-paragraph-small {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
@media (max-width: 1359.98px) {
  .footer-btm .widget p, footer .footer-block .address a, footer .footer-block .address .linked-in-link, header .header-right .nav-menu li a,
.o-paragraph-small {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

header .header-right .plusminus ul li a,
.o-paragraph-extra-small {
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (max-width: 1359.98px) {
  header .header-right .plusminus ul li a,
.o-paragraph-extra-small {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.common-title {
  color: #000000;
  font-family: Florian;
  margin-bottom: 0;
}
.common-title strong {
  font-weight: 400;
  color: #009a44;
}

:not(.home) .entry-title {
  display: none;
}

.site-content {
  background: url("../images/page-bg.png") repeat left top;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
}
.site-content header {
  z-index: 0;
}
header .header-top {
  display: flex;
  justify-content: flex-end;
}
header .header-top .serch-form i {
  font-size: 1.1rem;
  cursor: pointer;
  padding-right: 1rem;
}
header .site-branding {
  display: flex;
  align-items: center;
}
header .main-navigation {
  padding-top: 5.5rem;
}
header .header-right {
  margin-left: auto;
}
header .header-right .plusminus ul {
  display: inline-flex;
}
header .header-right .plusminus ul li {
  padding: 0 0.8rem;
}
header .header-right .plusminus ul li a {
  color: #ffffff;
  font-weight: 700;
}
header .header-right .nav-menu li a {
  color: #ffffff;
  font-weight: 700;
  padding: 0 3rem;
}
header .header-right .nav-menu li:last-child a {
  padding-right: 0;
}

.site {
  position: relative;
}
.site .serch-form-top {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: #000000;
  padding: 1.4rem 1.5rem;
}
.site .serch-form-top label {
  width: 100%;
  position: relative;
  padding-left: 2rem;
}
.site .serch-form-top label:before {
  content: "\e901";
  font-family: icomoon;
  position: absolute;
  color: #ffffff;
  opacity: 0.5;
  font-size: 1.2rem;
  line-height: 2.4rem;
  left: 0;
}
.site .serch-form-top form {
  width: 100%;
  display: flex;
}
.site .serch-form-top form input {
  width: 97%;
  background-color: transparent;
  border: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #ffffff;
  padding: 0;
  font-family: Gotham, sans-serif;
}
.site .serch-form-top form input:placeholder {
  opacity: 0.5;
}
.site .serch-form-top form input.search-submit {
  width: 3%;
}

footer {
  background-color: #f2f2f3;
  padding-top: 6rem;
  padding-bottom: 7rem;
}
footer .footer-block {
  width: 33.33%;
}
footer .footer-block ul li {
  padding: 1rem 0;
}
footer .footer-block ul li a {
  color: #4d4d4d;
}
footer .footer-block h2 {
  font-size: 2rem;
  line-height: 2.8rem;
  color: #000000;
  margin-bottom: 2rem;
}
footer .footer-block p {
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: #4d4d4d;
}
footer .footer-block .address .linked-in-link {
  color: #333333;
  padding-top: 2.5rem;
}
footer .footer-block .address .linked-in-link a {
  color: #0675AE;
  border-bottom: 1px solid #0675AE;
  display: inline;
  text-underline-offset: 2px;
  font-weight: 700;
}
footer .footer-block .address .linked-in-link a span {
  padding-left: 0.3rem;
}
footer .footer-block .address a {
  color: #009a44;
  padding-top: 2rem;
  display: block;
  font-weight: 700;
}
footer .footer-block .menu-links-menu-container ul {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-block .menu-links-menu-container ul li {
  width: 50%;
}

.footer-btm .widget {
  margin-bottom: 0;
  padding: 2rem 0;
}
.footer-btm .widget p {
  color: #000000;
}

.home-banner {
  position: relative;
  height: 93.7rem;
  align-items: flex-end;
}

.sub-banner {
  max-height: 500px;
  width: 100%;
  position: relative;
  display: block;
}
.sub-banner .entry-title {
  color: #ffffff;
  font-family: Florian;
  position: absolute;
  left: 0px;
  bottom: 15%;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  margin: 0px auto;
  right: 0px;
}
.sub-banner .post-thumbnail {
  position: relative;
  display: flex;
}
.sub-banner .post-thumbnail::after {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  content: "";
  display: inline-block;
  background: linear-gradient(204.91deg, #060c10 41.74%, rgba(24, 22, 27, 0) 84.15%);
  mix-blend-mode: hard-light;
  opacity: 0.4;
}

.our-story .our-story__left {
  padding-left: calc((100vw - 1440px) / 2);
  padding-top: 10.6rem;
}
.our-story .our-story__left .o-paragraph-large {
  padding-top: 2rem;
  max-width: 522px;
}
.our-story .our-story__left .our-story-btn {
  margin-top: 8rem;
}

.our-purpose {
  padding-top: 14rem;
}
.our-purpose .our-purpose__right {
  padding-right: calc((100vw - 1440px) / 2);
  padding-left: 12rem;
}
.our-purpose .our-purpose__right .o-paragraph-large {
  padding-top: 2rem;
  max-width: 522px;
}
.our-purpose .our-purpose__right .our-story-btn {
  margin-top: 8rem;
}

.workwith-block {
  padding-top: 6.5rem;
}
.workwith-block p {
  color: #009a44;
  padding-top: 2rem;
  font-weight: 700;
}
.workwith-block .workwith-block-left p {
  max-width: 189px;
}
.workwith-block .workwith-block-center {
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  padding: 4rem 0;
}
.workwith-block .workwith-block-center p {
  max-width: 310px;
  padding-left: calc(100% - 370px);
}
.workwith-block .workwith-block-right p {
  max-width: 330px;
  padding-left: calc(100% - 275px);
}
.workwith-block .workwith-block-left, .workwith-block .workwith-block-center, .workwith-block .workwith-block-right {
  padding: 4rem 0;
}

.our-leaders {
  display: flex;
}
body.home .our-leaders {
  padding-top: 12.5rem;
}
.our-leaders .our-leaders-left {
  padding-top: 5.1rem;
  padding-left: calc((100vw - 1440px) / 2);
  background-color: #f2f2f3;
}
.our-leaders .our-leaders-left .o-body-large {
  max-width: 55rem;
  font-weight: 700;
  padding-top: 4rem;
}
.our-leaders .our-leaders-left .o-body-large p {
  position: relative;
  padding-left: 5rem;
}
.our-leaders .our-leaders-left .o-body-large p:before {
  content: "\e900";
  position: absolute;
  font-family: "icomoon";
  left: 0;
  color: #009a44;
}
.our-leaders .our-leaders-left .leader-designation p {
  font-size: 2rem;
  line-height: 2.6rem;
  color: #000000;
  padding-top: 4rem;
  padding-left: 4.3rem;
  position: relative;
}
.our-leaders .our-leaders-left .leader-designation p strong {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  display: block;
}
.our-leaders .our-leaders-left .leader-designation p:before {
  content: "";
  background-color: #000000;
  width: 30px;
  height: 4px;
  position: absolute;
  bottom: 5.5rem;
  margin: auto;
  left: 0;
}
.our-leaders .our-leaders-left .our-story-btn {
  margin-top: 8.5rem;
}
.our-leaders .our-leaders-right {
  padding-right: calc((100vw - 1440px) / 2);
}
.our-leaders .our-leaders-right:before {
  content: "";
  width: 100%;
  height: 45.5rem;
  position: absolute;
  background-color: #009a44;
  right: 0;
}

.platinum-member {
  padding-left: calc((100vw - 1440px) / 2);
  margin-top: 14.4rem;
}
.platinum-member .platinum-member-inner {
  background-color: #f2f2f3;
  padding: 8rem 32.7rem 8rem 30.6rem;
  display: flex;
  align-items: center;
}
.platinum-member .platinum-member-inner .platinum-member-right img {
  --angle: 95deg;
  transition: all ease-in-out 0.5s;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(var(--angle), #eefff5, #009A44) border-box;
  border: 2px solid transparent;
  animation: 3s rotate linear infinite;
  box-shadow: 15px 18px 60px rgba(0, 0, 0, 0.1);
}

.our-leaders-text {
  max-width: 850px;
  margin: 8.5rem auto;
}

.our-people .vc_inner {
  display: flex;
  margin-top: 8rem;
}
.our-people .vc_inner::before, .our-people .vc_inner::after {
  display: none;
}
.our-people .vc_inner:nth-child(odd) .vc_col-sm-6:last-child .wpb_wrapper {
  text-align: right;
}
.our-people .vc_inner:nth-child(even) .vc_col-sm-6:first-child {
  order: 2;
}
.our-people .vc_inner:nth-child(even) .vc_col-sm-6:last-child .wpb_wrapper {
  text-align: left;
}
.our-people h2 {
  margin-bottom: 20px;
}
.our-people h5 {
  padding-bottom: 10px;
  margin-bottom: 4rem;
  font-weight: 400;
  position: relative;
}
.our-people h5:after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  width: 100px;
  border-radius: 5px;
  content: "";
  display: inline-block;
  background-color: #009a44;
}
.our-people p {
  padding-bottom: 2rem;
}
.our-people p a {
  color: #009a44;
  text-decoration: underline;
}
.our-people .our-people--info p {
  font-weight: 700;
}
.our-people .connect a {
  color: #0675ae;
  text-decoration: underline;
  font-weight: 700;
}
.our-people .wpb_single_image {
  display: inline-block;
}
.our-people .vc_single_image-wrapper {
  position: relative;
  padding: 22px 22px 0px 0px;
}
.our-people .vc_single_image-wrapper::before {
  position: absolute;
  top: 11px;
  right: 0px;
  height: 1px;
  width: 200px;
  content: "";
  display: inline-block;
  background-color: #c4c4c4;
  animation: animatewidth 5s linear;
  animation-iteration-count: 1;
}
.our-people .vc_single_image-wrapper::after {
  position: absolute;
  top: 0px;
  right: 11px;
  height: 200px;
  width: 1px;
  content: "";
  display: inline-block;
  background-color: #c4c4c4;
  animation: animateheight 5s linear both;
}

@keyframes animatewidth {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}
@keyframes animateheight {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
