@media (min-width: 1025px){
  body{ overflow-x: hidden;}

}
@media (min-width: 1162px) and (max-width: 1320px){

}

@media only screen and (min-width: 1024px) and (max-width:1161px){

}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  body{ overflow-x: hidden;}
  /* .entry-content{ overflow-x: hidden;}
  .footerrow1 .container{ flex-wrap: wrap;}
  .footerrow1 .block{ padding: 0px; margin-bottom: 35px;}
  .border-shadow{ padding-bottom: 0px;}
  .mainbanner{background-size: 100% 100%;}
  .mainslider .slick-prev{left:10px}
  .mainslider .slick-next{right:10px}
  .whoweareright{padding-left:15px; padding-right: 15px;}
  .getintouchrow .col-lg-3{ margin-top: 20px;}
  .whatwedorow, .whychooseus{padding: 30px 0px;}
  .whatwedorow{ padding-left: 15px; padding-right: 15px; background-image: none;}
  .practicearearow .container .card{width: 50%;}
  .practicearearow .container .card:nth-child(3n+0){border-right: 1px solid #e7e7e7;}
  .touchtoday{padding-right:15px; width: 50%;}
  .touchtoday p.detail{ font-size: 22px;}
  .formright{ width: 50%;}
  .testimonialrow .testimonialblock{ height: auto;}
  .getintouchbtn{ font-size: 17px;} */
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  /* body{ overflow-x: hidden;}
  .navbar-dark .navbar-toggler-icon{ background-image: none;}
  .collapse:not(.show){display: none !important;}
  .navbar .nav-item{padding:5px 0px;}
  .navbar-expand-md .navbar-toggler{ display: block;}
  .navigation-toggle{ display: inline-block; background: var(--blue); position: absolute; top: 0px; right: 0px; width:50px; height:50px; border-radius: 0px;}
  .navbar-collapse{ position: absolute; top:calc(100%); right:0px; width: 100%; background: var(--blue); -webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out; z-index: 9; padding:0px;}
  .navbar-expand-md .nav-item.phonenumber{ display: none;} */
  
  
}

@media only screen and (max-width:1023px){
  a.whatsup.webwhatapp {display:none;}
  a.whatsup.mobilewhatapp {display:block;}
  a.whatsup.mobilewhatapp b { display: none; }
  a.whatsup.mobilewhatapp { font-size: 0; padding: 0; right: 50px; bottom: 40px; }
	body{ overflow-x: hidden; font-size:14px;}
  .entry-content{ overflow-x: hidden;}
  .wpb_single_image .vc_figure, .wpb_single_image .vc_single_image-wrapper, .wpb_single_image img{ width: 100%;}

  
}
@media only screen and (max-width: 767px){
  body{ overflow-x: hidden; font-size:14px;}
  body.home .site:before{ display: none;}
  .container, .container-md, .container-sm{max-width: 100%;}
  .headernavrow .container{ max-width: 100%;}
  .brandlogo img{ width: 80%;}
  .search-form{ display: none;}
  .menu-icon{width: 35px; height: 35px;}
  .icon-toggle{ top: 0px; left: 0px; right: 0px;}
  .main-navigation .menu-toggle{ margin: 0px; background: var(--blue);    width: 60px; height: 100%; position: absolute; border-radius: 0px; top: 0px; right: 0px;}
  .lines, .lines:before, .lines:after{ background-color: var(--white);}
  .menu-social-links-container{ display: none;}
  .logo-row{padding: 7px 15px;}
  .headerright .menu-main-menu-container, #menu-main-menu-right{ height: auto;}
  .menu-block2{ flex-direction: column; overflow-y: scroll;}
  #primary-menu > li.menu-item-has-children{padding: 15px; height: auto;}
  #primary-menu > li.menu-item-has-children > a{width: 100%; font-size: 2.5rem; margin-bottom: 1rem;}
  .main-navigation ul ul, .rightside-menu{ width: 100%;}
  .main-navigation ul ul li, #menu-main-menu-right .sub-menu li{ width: 50%;}
  .main-navigation ul ul li a{ font-size: 1.3rem;}
  #menu-main-menu-right{padding: 15px; padding-bottom: 50px;}
  #menu-main-menu-right .sub-menu{padding-left:0px; flex-direction: row; flex-wrap: wrap;}
  #menu-main-menu-right > li.menu-item-has-children{ padding-bottom: 1rem;}
  #menu-main-menu-right > li.menu-item-has-children > a{ margin-bottom: 1rem;}
  .mainslider .slick-dots li{ padding: 2px; height: auto;}
  .about-section{background: linear-gradient( to bottom, #94c83d 0%, #94c83d 35%, #e5e5e5 35%, #e5e5e5 100%);}
  .about-section .container{ flex-direction: column;}
  .home-services .card{ max-width: 100%; margin: 0px; margin-bottom: 1.5rem; }
  .ourteamrow .card, .publicationrow .card, .mediarow .card{ margin: 0px 1.5rem; width: 100%;}
  .ourteamwithoutslider{ padding: 0px 15px;}
  .ourteamwithoutslider .card, .media-list .card, .publication-list .card{margin: 1.5rem 1.5rem;}
  .home-publications{background-image: linear-gradient(to bottom, transparent 50%, #f9f9f9 50%), url('../images/latest-publication.png');}
  .locationrow .location-info:first-child{ width: 100%; padding: 20px 0px; text-align: left;}
  .locationrow .location-info{ width: 100%; padding: 20px 0px;}
  .footerrow1 .container{ flex-direction: column;}

  .subbanner{height: calc(45vh - 67px); padding-top: 67px;}
  .subbanner .bannerinfo{ height: calc(45vh - 67px);}
  .subbanner .bannerinfo .entry-title, .single-post .subbanner .bannerinfo .entry-title{font-size: 2.5rem;}

  .single .site-main .container{ flex-direction: column;}
  .single .site-main .single-right, .single-our-services .site-main .single-right{ max-width: 100%;}

  .memberdetails .member-data{    margin-left: 15px; margin-right: 15px;}
  
  .wpcf7-form .row{ margin-bottom: 0px;}
  .wpcf7-form .row [class*="col-"]{ width: 100%; margin-bottom: 2rem;}
  
  
}
@media only screen and (max-width: 640px){
  
}
@media only screen and (max-width: 480px){
  
  
}