.our-story {
    .our-story__left {
        padding-left: calc((100vw - 1440px)/2);
        padding-top: 10.6rem;

        .o-paragraph-large {
            padding-top: 2rem;
            max-width: 522px;
        }

        .our-story-btn {
            margin-top: 8rem;
        }

    }
    
}
