$brand-primary: #009a44;
$interface-black: #000000;
$interface-white: #ffffff;
$interface-lightblack: #333333;
$interface-lighterblack: #4d4d4d;
$linkedin: #0675ae;

$bginterface-black: #999999;
$bginterface-grey: #c4c4c4;
$bginterface-darkgrey: #b3b3b3;
$bginterface-lightgrey: #d6d6d6;
$bginterface-lightergrey: #f2f2f3;
$bginterface-offwhite: #f2f2f3;
